In [86]:
# Imports
import pandas as pd
from textblob import TextBlob
import warnings
warnings.simplefilter('ignore')
from nltk.corpus import stopwords

In [15]:
# Load data

file_path = './Resources/tweets-20170101-20190501.csv'
data_raw = pd.read_csv(file_path)

print(f'Loaded {len(data_raw)} rows.')
data_raw.head()

Loaded 7540 rows.

,source,text,created_at,retweet_count,favorite_count,is_retweet,id_str
0,Twitter for iPhone,Today it was my great honor to welcome and hos...,04-30-2019 23:21:16,11082,54009,False,1123366738463162368
1,Twitter for iPhone,If Cuban Troops and Militia do not immediately...,04-30-2019 21:09:13,40386,128141,False,1123333506346749952
2,Twitter for iPhone,....embargo together with highest-level sancti...,04-30-2019 21:09:13,31221,111238,False,1123333508078997505
3,Twitter for iPhone,CONGRATULATIONS to the 2018 @NASCAR Cup Series...,04-30-2019 20:20:10,7141,35490,False,1123321163189510155
4,Twitter for iPhone,I am monitoring the situation in Venezuela ver...,04-30-2019 18:23:28,54436,192388,False,1123291797554454529

In [84]:
# Cleaning

# Exclude retweets
data = data_raw.loc[data_raw['is_retweet'] == False]

# Remove hyperlinks
def remove_http (my_str):
    return " ".join(filter(lambda x:x[0:4]!='http', my_str.split()))

data['text'] = data['text'].apply(remove_http)

# Remove stopwords
def remove_stops(my_str):
    stop = stopwords.words('english')
    return " ".join(x for x in my_str.split() if x not in stop)

data['text'] = data['text'].apply(remove_stops)

# Remove special characters
def remove_specials(my_str):
    specials = ['&amp;', '-']
    return " ".join(x for x in my_str.split() if x not in specials)

data['text'] = data['text'].apply(remove_specials)

# Make all text lower case
data['text'] = data['text'].apply(lambda x: x.lower())

In [87]:
# Get word counts over n tweets.
n_tweets = 9999

# Form one long string of tweets
tweets = ''.join(data['text'].head(n_tweets))

# Compute word counts
freq = pd.Series(tweets.split()).value_counts()[0:20]
freq

great        1334
i            1160
people        625
the           506
we            461
fake          446
many          428
news          425
big           421
president     396
u.s.          396
democrats     390
get           379
border        373
country       342
would         333
much          330
trump         329
new           318
never         310
dtype: int64